body{
    background: linear-gradient(to right , rgb(188, 169, 169) ,rgb(208, 190, 190));
}


header{
    background-color: aliceblue;
    height: 60px;
}


main{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container{
position: relative;
    display: flex;
    flex-wrap: wrap;
   
}


ul{
    display: flex;
    justify-content:space-evenly;
   
}

fieldset{
    border: solid;
   

}



footer{
    background-color: aliceblue;
    height: 60px;
}

ul li {
    margin-top: 5px;
}
