
header{
    background-color:rgb(8, 8, 8);
    height: 60px;
}


main{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container{
position: relative;
    display: flex;
    flex-wrap: wrap;
   
}


ul{
    display: flex;
    justify-content:space-evenly;
   
}

a{
    text-decoration: none;
    color: red;
}

fieldset{
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

legend{
  margin-left: 40px;
}


 input{
    width: 60%;
 }

 select{
    width: 61%;
 }

 input[type=submit]{
    width: 15%;
 }


footer{
    background-color: aliceblue;
    height: 60px;
}

ul li {
    margin-top: 5px;
}

th,td{
    border: solid;
}

td{
    text-align: center;
}
